@using EmployeeDemo.Web.Models;
@* @model IEnumerable<EmployeeDto> *@
@{
    ViewData["Title"] = "Index";
}
@* <p>
    <a asp-action="Index">Display Data</a>
</p> *@

<table class="table" id="DataTable">
    <thead class="table-dark">
        <tr>    
            <th>
                
            </th>
            <th>
                Image
            </th>
            <th>
                Name
            </th>            
            <th>
                Email
            </th>
            <th>
                Gender
            </th>
            <th>
                Designation
            </th>       
            <th>
                Action
            </th>
        </tr>
    </thead>
</table>
@section Scripts {
    <script src="~/js/pagination.js"></script>
}

@*<a asp-controller="Employees" asp-action="Update" asp-route-id="@i.Id" class="btn btn-light mx-2">
        <i class="fa-solid fa-pen" style="color: #000000;"></i>
        </a>
        @Html.ActionLink("",
        "Delete", new { id = i.Id },
        new { @class = "a-sharp fa-solid fa-trash", @style = "color: #000000;", onclick = "return confirm('Do you really want to delete this Data " + i.Id + "?')" })

        <a asp-controller="Employees" asp-action="Delete" asp-route-id="@i.Id" class="btn btn-light mx-2">
        <i class="fa-sharp fa-solid fa-trash" style="color: #000000;"></i>
        </a>
        @* <button class="btn" asp-action="Delete" asp-route-id="@i.Id" onclick="deleteDailog(event,@i.Id)"><i class="fa-sharp fa-solid fa-trash" style="color: #000000;"></i></button>
@* @Html.ActionLink("", "Delete", null, new { id = i.Id }, new { @class = "fa-solid fa-trash", @style = "color: #000000;"}) *@